[Unit]
Description=BattleTrace.Api
After=network-online.target

[Service]
User=tera
Type=notify
SyslogIdentifier=trace
WorkingDirectory=/opt/battletrace/bin/current
ExecStart=/opt/battletrace/bin/current/BattleTrace.Api
Restart=always
Environment="ASPNETCORE_ENVIRONMENT=Production"
Environment="ASPNETCORE_URLS=http://localhost:5052"
Environment="Db__ConnectionString=Data Source=/opt/battletrace/data.db"
Environment="Serilog__WriteTo__Console__Args__outputTemplate=[{Level:u3}] {SourceContext}: {Message:lj}{NewLine}{Exception}"
Environment="Serilog__WriteTo__Seq__Name=Seq"
Environment="Serilog__WriteTo__Seq__Args__serverUrl=http://localhost:5341"
Environment="Serilog__WriteTo__Seq__Args__apiKey=x"

[Install]
WantedBy=multi-user.target
