[Unit]
Description=BattleTrace
After=network-online.target

[Service]
User=battletrace
Type=notify
SyslogIdentifier=trace
WorkingDirectory=/opt/battletrace/bin/current
ExecStart=/opt/battletrace/bin/current/BattleTrace
Restart=always
Environment="ASPNETCORE_ENVIRONMENT=Production"
Environment="URLS=http://localhost:5052"
Environment="Db__ConnectionString=Data Source=/opt/battletrace/data.db"
Environment="Seq__ApiKey=x"

[Install]
WantedBy=multi-user.target
